*.class
*.log


# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/java_version/SpritzCLI/nbproject/private/
/java_version/JEncrNotes/nbproject/private/
/java_version/SpritzCipher/nbproject/private/
/java_version/SpritzCipher/dist/
/java_version/SpritzCipher/build/
/java_version/SpritzCLI/build/
/java_version/SpritzCLI/dist/
/java_version/JEncrNotes/build/
/java_version/JEncrNotes/dist/
